# Vercel Postgres connection (Recommended)
POSTGRES_URL=postgres://default:password@ep-host.region.aws.neon.tech:5432/verceldb?sslmode=require
POSTGRES_URL_NON_POOLING=postgres://default:password@ep-host.region.aws.neon.tech:5432/verceldb?sslmode=require
POSTGRES_USER=default
POSTGRES_HOST=ep-host.region.aws.neon.tech
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=verceldb

NODE_ENV=development

# Gemini Configuration
GEMINI_API_KEY=
GOOGLE_GEMINI_BASE_URL=https://api.aicodewith.com/gemini_cli
GEMINI_MODEL=gemini-3-pro
